header, footer{
    background: #c0c0c0;
    margin: 0;
    padding: 10px;
}
#map {

    flex: 1;
    /*
    height: 100%; 
    width: 50%;
    position:relative; 
    top:0; 
    left:50%; 
    right:0; */
    display:inline-block;

  }
form-stuff {

    background: green;
    height: 100%;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
#main {
    height: 100%;
    background:#8D99AE;
    display: flex;
}
.container {
    height: 100%;
    width: 30%;
    border: black, 200px;
    background:#28254e;
}

title {
    font-family: 'Fjalla One', sans-serif;

    /*font-family: 'Noto Sans', sans-serif;*/
}
.content-wrap {
    
    left: 50%;

}

  html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }